@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.container {
    margin-top: 10px;
    margin-right: 125px;
    margin-left: 125px;
    background-color: red;
}
h1 {
    font-family: 'Open Sans', sans-serif;
}
